<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>j</title>
</head>
<body>
<div th:fragment="header">
    <div class="container-fluid">
        <div class="row bg-dark p-2">
            <div class="d-flex bd-highlight">
                <div class="col-11">
                    <div class="flex-fill text-white" th:object="${currentUser}">
                        <strong th:text="${currentUser.email}">user</strong> <span>with roles:</span>
                        <th:block th:each="role : ${currentUser.getRoles()}">
                            <th:block th:text="${role}">role</th:block>
                        </th:block>
                    </div>
                </div>
                <div class="col-1">
                    <div class="flex-fill text-secondary text-end">
                        <a th:href="@{/logout}" class="link-secondary">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>