<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>

<th:block th:each="usr : ${users}">
    <h1 th:text="${usr}"></h1>
</th:block>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="field : ${user}">
        <td th:text="${field.username}">Name</td>
        <td th:text="${field.age}">Age</td>
        <td th:text="${field.email}">Email</td>
        <td th:text="${field.roles}">Roles</td>
    </tr>
    </tbody>
</table>
<form th:method="GET" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>
</body>
</html>