<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

<div th:fragment="users">
    <table class="table table-striped" id="usersTable">
        <thead>
        <tr>
            <th>id</th>
            <th>Username</th>
            <th>Age</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Edit user</th>
            <th>Delete user</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
</body>
</html>