<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>i hate this</title>
</head>
<body>
<form th:method="PATCH"
      th:action="@{/users/{id}(id=${user.getId()})}"
      th:object="${user}">
    <label for="name">Enter name:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{mail}" id="email"/>
    <br>
    <input type="submit" value="Edit user"/>
</form>
</body>
</html>