<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Can you fucking work already?</title>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}">Id</td>
            <td th:text="${user.name}">Name</td>
            <td th:text="${user.age}">Age</td>
            <td th:text="${user.email}">Email</td>
            <td>
                <form th:method="GET" th:action="@{/users/{id}/edit(id=${user.getId()})}">
                    <input type="submit" value="Edit user"/>
                </form>
            </td>

            <td>
                <form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
                    <input type="submit" value="Delete user"/>
                </form>
            </td>
        </tbody>
    </table>
    <form th:method="GET" th:action="@{/users/new}">
        <input type="submit" value="Create new user">
    </form>
</div>
</body>
</html>